@model object

@{
    ViewBag.title = "404";
}
<div class="errorFlex">

    <div>
        <h1 align="center">404.. This is awkard</h1>
        <h2 align="center">We can't find what you're looking for.. </h2>
        <h2 align="center">@Model.ToString() does not exsit or has been moved.</h2>
    </div>
</div>