<div class="form-group post-form input-form">
    <input type="text" class="form-control" placeholder="Title (Does not show on mobile)" id="titleinput" aria-describedby="sizing-addon1">
    <textarea class="form-control inputMessage" placeholder="Message" id="messageinput" rows="5"></textarea>
    <span class="countdown"></span>
    <input type="button" id="postFormBtn" class="btn btn-success submit-post" disabled value="Submit Post"/>
</div>